{% extends "catalog.html" %} {% block title %} {{ flatpage.title }} |
{{ site_name }} {% endblock %} {% block content %}
<h1>{{ flatpage.title }}</h1>
{{ flatpage.content }} 

{% endblock %}

<!--

	<div class="vcard">
	<div class="fn org">
		Tees Shop
	</div>
	<div class="adr">
		<div class="street-address">12345 Google Way Ave</div>
	</div>
	<span class="locality">Beach Town</span>
	<abbr class="region" title="California">CA</abbr>
	<span class="postal-code">93456</span>
</div>
</div>
<div class="country-name">USA</div>
<div>Phone: <span class="tel">+1-555-555-1212</span></div>
<div>Email:<span class="email">info@teeshop.com</span></div>

-->